*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.logo{
    position: absolute;
    top:15px;
    left:15px;
}

.title{
    font-weight: 500;
    font-size: 24px;
}

.candles{
    background-attachment: fixed;
    background-repeat: no-repeat;
    width:50%;
    position: absolute;
    right: 0px;
    height: 100%;
}

.fname-logo{
    position: absolute;
    top: 6px;
    left: 9px;
}

.lname-logo{
    position: absolute;
    top:77px;
    left: 9px;
}

.username-logo{
    position: absolute;
    top: 150px;
    left: 9px;
}


.email-logo{
    position: absolute;
    top: 221px;
    left: 9px;
    
}

.passkey-logo{
    position: absolute;
    top: 292px;
    left: 9px;
    
}

input[type="text"], [type="password"]{
    color: #555;
    border-radius: 8px;
    padding-left: 32px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-style: bold;
    font-weight: 400;
    margin-block-end: 15px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none;
}

input[type="text"]:focus{
    border: 3px solid #555;
}

form{
    display: block;
    position:absolute;
    top:170px;
    left: 140px;
}

form .form-inner{
    position: relative;
    display: block;
    background-color:white;
}

form .form-inner .form-group{
    display: block;
}

form .form-inner .form-group input{
    display: block;
    width: 100%;
    padding-left: 40px;
    background-color: white;
    border-radius: 8px;
    transition: 0.4s;
}


form .form-inner input[type="submit"]{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    margin-left: 282px;
    margin-top: 15px;
    background-color: black;
    color: white;
    border: none;
    font-size: 17px;
}

.register-opt{
    position: absolute;
    top: 600px;
    left: 30px;
    color: #555;
}

.testing-btn{
    position: absolute;
    top: 650px;
    left: 30px;
}